body{
    background-color: #F1F1F1;
}
.navbar{
    background-color:#1F1F1F !important;
    border-color:transparent;
    background-image:none;
    box-shadow:none;    
}
.menu{
    margin-top: 40px;
    border-bottom: solid;
    border-bottom-color: #DAD9D9;
    color: #C1C1C1 ;
}
.browse{
    margin-top: 30px;
    left: 0;
    font-size: 40px;
    top:100%;
    padding-top: 15px;
    padding-bottom: 0;
}
.items{
    font-size: 25px;
    
}
.items > button{
    bottom: 100%;
    margin-top: 55px;
    padding-bottom: 10px;
    right: 0;
    left: 100%;
    background-color: transparent;
    height: 50%;
    border:#F1F1F1;
    color: #C1C1C1;
}
.items > button:hover{
    color:#28E2F8;

}
.items > button:active{
    border-bottom-color: #28E2F8; 
}
.card {
    position: relative;
    background-color: #E7E7E7;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    box-shadow: 10px 10px 10px #E7E7E7 ;
}
.card > .text{
    text-align: right;
}
.votes{
    text-align: center;
    margin-top: 20px;
}
.votes > i{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    background-color: transparent;
}

.hidden{
    display: none;
}
.centre{
    
    margin-left: 35%;
    margin-right: 35%;
}
@media (max-width: 767px) {
    .reverse_order  {
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}
form{
    margin-top: 40px;
}
.user-box{
    position: relative;
}
.user-box > input{
    width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #C8C8C8;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  outline: none;
  background: transparent;
}
.user-box > label{
    position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #C8C8C8;
  pointer-events: none;
  transition: .5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
form a button{
  border-radius: 29px;
  background-color: #3F3F3F;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #DBDBDB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}
a button:hover {
  background: #3F3F3F;
  color: #DBDBDB;
  border-radius: 29px;
  box-shadow: 0 0 5px #3F3F3F,
              0 0 25px #3F3F3F,
              0 0 50px #3F3F3F,
              0 0 100px #3F3F3F;
}
a span {
  position: absolute;
  display: block;
}
.idea-box textarea{
    border:none;
}